<!DOCTYPE html>
<html>
  <head>
    <title>Assignment1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <table>
    <tr>
      <td>
        <%= link_to "Cars", :cars %>
      </td>
      <td>
        <%= link_to "Manufacturer", :car_manufacturers %>
      </td>
      <td>
        <%= link_to "Car Parts", :car_parts %>
      </td>
    </tr>
  </table>
  <hr>

  <body>
    <%= yield %>
  </body>
</html>
